.container {
    position: relative;
    width: 1500px;
    height: 100vh;
    overflow: hidden;
    background-color: hsl(0, 0%, 100%);
}
.box {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(245, 37, 37);
    border-radius: 10px;
    margin: 10px auto;
}
.box:nth-child(2) { 
    background-color: rgb(71, 223, 28); 
}
.box:nth-child(3) { 
    background-color: rgb(58, 53, 215); 
}